.named {

    color: red;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantified {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.listed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}